.header{
    background-color: var(--color_header);
    position:fixed;
    width: 100%;
    z-index: 5;
}

.header__container{
    display: flex;
    padding: 30px 0px;
    align-items: center;
    justify-content: space-between;
}

.header__titulo{
    color: var(--color_fuente_header);
    font-family: var(--fuente_principal);
    font-size: 2rem;
    font-weight: 500;
    margin: 0px 50px;
}

.search_container{
    display: flex;
    width: 70%;
    max-width: 500px;
    margin: 0px 50px;
    align-items: center;
}

.buscador{
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px 0px 0px 30px;
    border: none;
    outline: none;
    font-family: var(--fuente_principal);
    font-size: 17px;
}

.icon_search_header{
    color: var(--color_fuente_header);
    background-color: var(--color_btn_header);
    font-size: 17px;
    padding: 12px 30px 12px 25px;
    border-radius: 0px 30px 30px 0px;
    transition: all 200ms;
    cursor: pointer;
}

.icon_search_header:hover{
    background-color: var(--color_btn_header_hover);
}

.ayuda_text{
	color: var(--color_fuente_header);
    text-transform: uppercase;
	font-size: 18px;
	margin: 0px 50px;
	font-family: var(--fuente_principal);
    font-weight: 600;
    cursor: pointer;
}

.documentacion__titulo{
    font-family: var(--fuente_principal);
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 25px 0;
    color: var(--color_fuente_header);
}

.documentacion__container{
    background-color: var(--color_sidebar);
    position: fixed;
    z-index: 7;
    width: 70%;
    height: 80%;
    margin: 5% 15%;
    border-radius: 10px;
    transition: all 300ms;
}

.documentacion__info__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 95%;
	justify-content: center;
    align-items: center;
}

.documentacion__texto{
    width: 80%;
    margin-top: 25px;
    font-size: 1.2rem;
    font-family: var(--fuente_principal);
    line-height: 1.4rem;
    color: var(--color_fuente_header);
}

.fondo__Negro{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
}

.documentacion__cerrar__btn{
	right: 20px;
	position: absolute;
	color: var(--color_fuente_header);
	font-size: 2rem;
	text-align: end;
	top: 20px;
    cursor: pointer;
}