<nav class="header">

    <div class="header__container">

        <h1 class="header__titulo">GifsApp</h1>

        <div class="search_container">

            <input type="text" id="search" placeholder="Buscar..." class="buscador" (keydown.enter)="mostrarTexto()"
                #inputBuscar>
            <i class="bi bi-search icon_search_header" (click)="mostrarTexto()"></i>

        </div>

        <p class="ayuda_text" (click)="mostrarDocumentacion()">Documentación</p>

    </div>

</nav>

<div *ngIf="documentacion">
    <div class="documentacion__container">

        <i (click)="ocultarDocumentacion()" class="bi bi-x-circle-fill documentacion__cerrar__btn"></i>
        <div class="documentacion__info__container">
            <h2 class="documentacion__titulo">Documentación</h2>
            <p class="documentacion__texto">Proyecto desarrollado en Angular v14. <br><br> Busca todos los gifs que quieras mediante la barra de busqueda superior. Con el icono de lupa o incluso presionando la tecla Enter, la página te traerá los 15 primeros resultados de la API Giphy. <br><br> En la barra lateral izquierda tienes tus 10 busquedas recientes, puedes revisarlas y desplazarte entre ellas para encontrar tus resultados. <br><br> La aplicacion web trabaja con el local Storage, por lo que podrás mantener tu historial para futuras busquedas.</p>
        </div>


    </div>

    <span class="fondo__Negro" (click)="ocultarDocumentacion()"></span>
</div>