.sidebar{
    background-color: var(--color_sidebar);
    z-index: 4;
    position:fixed;
    width: 270px;
    margin-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btn__show{
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 80px;
    top: -26px;
    border: none;
    background-color: var(--color_sidebar);
    color: var(--color_fuente_header);
    display: none;
}

.busquedas__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    background-color: var(--color_sidebar);
}

.busqueda__item{
    background-color: var(--color_fuente_header);
    padding: 12px;
    transition: all 200ms;
    border: 1px solid #e2e2e2;
    text-align: center;
    font-family: var(--fuente_principal);
    cursor: pointer;
}

.busqueda__item:hover{
    background-color: #e2e2e2;
}

.busqueda__item:first-child{
    border-radius: 20px 20px 0 0;
}

.busqueda__item:last-child{
    border-radius: 0 0 20px 20px;
}

.busqueda__item:only-child{
    border-radius: 20px 20px 20px 20px;
}

.ultimas__busquedas{
    margin-top: 50px;
    font-family: var(--fuente_principal);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color_fuente_header);
}

.ayuda_text{
    position: absolute;
    bottom: 140px;
    color: var(--color_fuente_header);
    text-transform: uppercase;
	font-size: 18px;
	margin: 0px 50px;
	font-family: var(--fuente_principal);
    font-weight: 600;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:1260px) {

    .visible{
        display: block;
    }

}

@media screen and (max-width:650px) {

    .btn__show{
        display: block;
    }

    .sidebar{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        width: 100%;
        position: fixed;
        height: 600px;
        bottom: -570px;
        transition: all 300ms;
    }

    .ayuda_text{
        bottom: 34px;
    }

    .visibleSidebar{
        bottom: -1px;
    }

}