<aside class="sidebar" [class.visibleSidebar]="isSidebarvisible">

    <button (click)="visibleSidebar()" class="btn__show">
        <span *ngIf="!isSidebarvisible" class="material-symbols-outlined ">
            expand_less
        </span>
        <span *ngIf="isSidebarvisible" class="material-symbols-outlined">
            expand_more
            </span>
    </button>

    <h2 class="ultimas__busquedas" *ngIf="busquedas.length >= 1">Busquedas recientes:</h2>

    <ul class="busquedas__container">
        <li class="busqueda__item" *ngFor="let busqueda of busquedas" (click)="buscar( busqueda )">{{ busqueda |
            titlecase }}</li>
    </ul>

    <p class="ayuda_text visible" (click)="mostrarDocumentacion()">Documentación</p>
</aside>